.calculadora {
    padding: 20px;
    background: lemonchiffon;
    border-width: 20px;
    border-style: solid;
    border-radius: 10px;
    border-color: peru;
    box-shadow: 5px 2px yellow;
    font-size: 20px;
    width: 350px;
    height: auto;
}
#btnCalc {
    font-size: 22px;
    width: 80px;
    padding: 5px;
    background: tan;
    margin-top: 15px;
}
 .calculadora input {
    background: tan;
    color: aliceblue;
    border-radius: 5px;
 }
.spResul {
    background: rgb(219, 130, 13);
    color: none;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
 }
#btnCalc:hover{
    background: rgb(15, 196, 15);
    cursor: pointer;
}
.listaMensal {
    margin-top: 10px;
    padding: 20px;
    background: lemonchiffon;
    border-width: 20px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(120, 205, 63);
    box-shadow: 5px 2px black;
    font-size: 20px;
    width: 200px;
    height: auto;
}
 
d