.calculadora {
    padding: 10px;
    background-color: rgb(40, 150, 46);
    width: 200px;
}
.calculadora input{
    background-color: blue;
    color: aliceblue;
    border-radius: 10px;
    height: 25px;
}
.spResul{
    background-color: black;
    color: cyan;
    padding:5px
    margin: 5px;
    border-radius: 15px;


}

#btncALC {
    width: 50px;
    padding: 5px;
    background-color: chartreuse;
    margin: 15px;
    border-radius: 10px;
}
#btnCalc:hover {
    background-color: rgb(57, 179, 41);
    color: rgb(30, 127, 212);
    cursor: pointer;

}